[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
pandas-datareader = "*"
quandl = "*"
beautifulsoup4 = "*"
selenium = "*"
sqlalchemy = "*"
backtrader = "*"
backtrader-plotting = "*"
yahoofinancials = "*"
mpl-finance = "*"
fix-yahoo-finance = "*"
yfinance = "*"
ta-lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
